node_modules/
dist/
dist-ssr/
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local screenshots taken during development
preview*.png

# typescript incremental build cache
*.tsbuildinfo

